<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">
    <meta name="author" content="Tomomi Imura  @girlie_mac">

    <title>Simple AI Demo with Web Speech API</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>Simple AI Bot</h1>
      <h2>with Web Speech API</h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
      <div class="page-hero-section bg-image hero-mini" style="background-image: url(main/img/hero_mini.svg);">
    <div class="hero-caption">
      <div class="container fg-white h-100">
        <div class="row justify-content-center align-items-center text-center h-100">
          <div class="col-lg-6">
            <h3 class="mb-4 fw-medium">BioBot-the Chatbot</h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chatbot</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 py-3">
          <article class="blog-entry">
            <div class="entry-header">
              <div class="post-thumbnail">
                <img src="main/img/vulture.jpeg" alt="">
              </div>
              <div class="post-date">
                <h3>3</h3>
                <span>Oct</span>
              </div>
            </div>
            <div class="post-title"><a href="blog-details.html">I want to know where the White-rumped vulture is found?</a></div>
            <div class="entry-meta mb-2">
              <div class="meta-item entry-author">
                <div class="icon">
                  <span class="mai-globe"></span>
                </div>
                by <a href="#">Visualize</a>
              </div>
              <div class="meta-item">
                <div class="icon">
                  <span class="mai-pricetags"></span>
                </div>
                Category:
                <a href="#">Animalia</a>,
                <a href="#">Aves</a>
              </div>
              <div class="meta-item">
                <div class="icon">
                  <span class="mai-chatbubble-ellipses"></span>
                </div>
                <a href="#">Continue Asking</a>
              </div>
            </div>
            <div class="entry-content">
              <p>The white-rumped vulture (Gyps bengalensis) is an Old World vulture native to South and Southeast Asia. It has been listed as Critically Endangered on the IUCN Red List since 2000, as the population severely declined. White-rumped vultures die of kidney failure caused by diclofenac poisoning.</p>
            </div>
            <a href="#" class="btn btn-primary">Continue Reading</a>
          </article>

          <article class="blog-entry">
            <div class="entry-header">
              <div class="post-thumbnail">
                <img src="main/img/sustain.jpg" alt="">
              </div>
              <div class="post-date">
                <h3>3</h3>
                <span>Oct</span>
              </div>
            </div>
            <div class="post-title"><a href="blog-details.html">What are the most influential factors that can move world businesses towards practising environmental sustainability?</a></div>
            <div class="entry-meta mb-2">
              <div class="meta-item entry-author">
                <div class="icon">
                  <span class="mai-person"></span>
                </div>
                by <a href="#">User</a>
              </div>
              <div class="meta-item">
                <div class="icon">
                  <span class="mai-pricetags"></span>
                </div>
                Category:
                <a href="#">Development</a>,
                <a href="#">Carbon Footprint</a>
              </div>
              <div class="meta-item">
                <div class="icon">
                  <span class="mai-chatbubble-ellipses"></span>
                </div>
                <a href="#">Continue chatting</a>
              </div>
            </div>
            <div class="entry-content">
              <p>Of course, now, there are varying levels of factors (taxes, policies, grants, credits, markets, niche, carbon accounting...) that affect the bottom line. But for most businesses, they won't do it unless it has a business model with a clear pay-back, over a known time period.</p>
            </div>
            <a href="#" class="btn btn-primary">Continue Reading</a>
          </article>


        </div>
        <!-- Sidebar -->
        <div class="col-lg-4 py-3">
          <div class="widget-wrap">
            <form action="#" class="search-form">
              <h3 class="widget-title">Say Hi to get Started!</h3>
              <div class="form-group">

                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
              </div>
            </form>
          </div>

            <div class="widget-wrap">
              <h3 class="widget-title">How may I help you?</h3>
              <ul class="categories">
                <li><a href="#">Explore and know more about us <span></span></a></li>
                <li><a href="#">Location/Condition based diversity <span></span></a></li>
                <li><a href="#">Visual Assistant/Voice Recognition<span></span></a></li>
                <li><a href="#">Inbuilt Pedometer<span></span></a></li>
                <li><a href="#">Let's Predict<span></span></a></li>
                <li><a href="#">Sustainable Development<span></span></a></li>
              </ul>
            </div>

            <div class="widget-wrap">
              <h3 class="widget-title">Recent Questions</h3>
              <div class="blog-widget">
                <div class="blog-img">
                  <img src="main/img/blogs/blog_1.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="blog-title mb-2"><a href="#">Salinity affects almost all aspects of plant development including: germination, vegetative growth and reproductive development. </a></div>
                  <div class="meta">
                    <a href="#"><span class="icon-calendar"></span> October 3, 2020</a>

                  </div>
                </div>
              </div>
              <div class="blog-widget">
                <div class="blog-img">
                  <img src="main/img/blogs/blog_2.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="blog-title mb-2"><a href="#">By calculating how much waste you produce each week and multiplying by 52 you can get your annual waste production. This is then multiplied by a carbon intensity to get your footprint.</a></div>
                  <div class="meta">
                    <a href="#"><span class="icon-calendar"></span> October 1, 2020</a>

                  </div>
                </div>
              </div>
              <div class="blog-widget">
                <div class="blog-img">
                  <img src="main/img/blogs/blog_3.jpg" alt="">
                </div>
                <div class="entry-footer">
                  <div class="blog-title mb-2"><a href="#">Using recycled materials or renewable resources when building is an example of sustainable development. ...</a></div>
                  <div class="meta">
                    <a href="#"><span class="icon-calendar"></span> July 12, 2020</a>

                  </div>
                </div>
              </div>
            </div>

          <div class="widget-wrap">
            <h3 class="widget-title">Use the  Keywords</h3>
            <div class="tag-clouds">
              <a href="#" class="tag-cloud-link">plant</a>
              <a href="#" class="tag-cloud-link">mammal</a>
              <a href="#" class="tag-cloud-link">amphibian</a>
              <a href="#" class="tag-cloud-link">parasite</a>
              <a href="#" class="tag-cloud-link">corals</a>
              <a href="#" class="tag-cloud-link">carbon footprints</a>
              <a href="#" class="tag-cloud-link">sustainable</a>
              <a href="#" class="tag-cloud-link">maps</a>
            </div>
          </div>

          <div class="widget-wrap">
            <h3 class="widget-title">Express yourself</h3>
            <p>If I walk or bike more, how much yearly pollution will i reduce?</p>
          </div>
        </div> <!-- end sidebar -->
      </div>
    </div>
  </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
